@import "helpers/_variables";
@import "helpers/_mixins";
@include keyframes(wow) {
  from{ opacity: 1; }
  to{opacity: 0; background-size: auto 150% }
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

body {
  font: 14px "Muli", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  clear: both;
}

.grid-container{
	max-width: 10000px !important;
	padding:0 !important;
}

.section{
	padding-left: 30px;
	padding-right: 30px;
}
