@import "helpers/_variables";
@import "helpers/_mixins";
#resume{
	min-height: 100vh;
	background: #f0f0f0;
}
.resume-main{
	padding-top: 50px;
	font-size: 16px;

	.label-col{
		font-size: 20px;
		color: $secondary-color;
		font-family: 'Fjalla One';
	}
	.label-title{
		font-weight: bold;
		color: $primary-text-color;
	}
	.label-location{
		padding-bottom: 12px;
		font-size: 14px;
	}
	.label-date{
		position: relative;
		font-size: 14px;
		.fa-flag{
			position: absolute;
			left: -30px;
			top:5px;
		}
		.fa-flag.last{
			color: $primary-color;
		}
	}

	.award{
		padding-left: 18px;
		position: relative;
	}
	.award::before{
		content: "";
		position: absolute;
		background-color: $primary-color;
		border-radius: 100%;
		width: 8px;
		height: 8px;
		top:9px;
		left:0px;
	}
}
.resume-big-row{
	border-bottom: 1px dotted $primary-color;
	margin-bottom: 45px;
}
.resume-row{
	margin-bottom:45px;
	padding-left: 40px !important;
}
.resume-row > span{
	display: block;
	color: #444;
	line-height: 26px !important;
	font-size: 14px;
}
.skills-row > span{
	position: relative;

	.skill{
		display: inline-block;
		width: 110px;
	}
	.indicator{
		position: relative;
		display: inline-block;
		line-height: 14px;
		color: #aaa;
		margin-right: 4px;
		border-radius: 100%;

	}
	.indicator.active{
		color: $primary-color;
	}
	.indicator.red{
		color: $secondary-color;
	}

}
