#about.grid-container
  %div.section-heading.grid-100 
    %span About
  %div.subsection.grid-100.grid-parent
    %div.grid-90.push-5
      %div.subsection-illustration.illus-left.grid-100
        = image_tag '/assets/images/illus-andie-3-o.png', :width=>"100px"
      %div.grid-60.prefix-20.suffix-20.grid-parent.subsection-content.tablet-grid-100.mobile-grid-100
        %div.subsection-heading.light Hello world
        %p.section-p I am Andie Rabino. I took up a bachelor’s degree on Computer Science. It was originally Computer Engineering but I realized that I would love to pursue software engineering instead. And eventually, walked down the path of web development.
  %div.subsection.grid-100.grid-parent
    %div.grid-90.push-5
      %div.subsection-illustration.illus-left.grid-100
        = image_tag '/assets/images/illus-andie-2-o.png', :width=>"100px"
      %div.grid-60.prefix-20.suffix-20.grid-parent.subsection-content.tablet-grid-100.mobile-grid-100
        %div.subsection-heading.light Fun Facts
        %p.section-p I love spaghetti. I love kimbab. I love singing but I am not a good singer though I want to be a good singer. I am learning to be fluent in Korean. I hated spicy food not until I lived in Korea for 10 months back in 2012.  I buy clothes in the kids or teens department. I don’t like sports except sports climbing. I play League of Legends and Hearthstone.

  %div.subsection.grid-100.grid-parent
    %div.grid-90.push-5
      %div.subsection-illustration.illus-left.grid-100
        = image_tag '/assets/images/illus-andie-o.png', :width=>"265px"
      %div.grid-60.prefix-20.suffix-20.grid-parent.subsection-content.tablet-grid-100.mobile-grid-100
        %div.subsection-heading.light Career
        %p.section-p Why a web artisan? I am a person who can spend a whole day in front of the screen. I am passionate with designing things and writing code. Creating web applications is something that I really love to do. I actually look forward in to being a master front end developer and UI/UX specialist someday.