#about.grid-container
  .section-heading.grid-100 
    %span About
  .subsection.grid-100.grid-parent
    .grid-90.push-5.tablet-grid-90.tablet-prefix-5.mobile-grid-90.mobile-prefix-5
      .subsection-illustration.illus-left.grid-100
        = image_tag '/assets/images/illus-andie-3-o.png', :width=>"100px"
      .grid-50.prefix-25.suffix-25.grid-parent.subsection-content.tablet-grid-100.mobile-grid-100
        .subsection-heading.light Hello World
        %p.section-p I am Andie Rabino. I took up a bachelor’s degree on Computer Science. It was originally Computer Engineering but I realized that I would love to pursue software engineering instead. And eventually, walked down the path of web development.

  .subsection.grid-100.grid-parent
    .grid-90.push-5.tablet-grid-90.tablet-prefix-5.mobile-grid-90.mobile-prefix-5
      .subsection-illustration.illus-left.grid-100
        = image_tag '/assets/images/illus-andie-2-o.png', :width=>"100px"
      
      .grid-50.prefix-25.suffix-25.grid-parent.subsection-content.tablet-grid-100.mobile-grid-100
        .subsection-heading.light Fun Facts
        %p.section-p I love spaghetti. I love kimbab. I love singing but I am not a good singer though I want to be a good singer. I am learning to be fluent in Korean. I hated spicy food not until I lived in Korea for 10 months back in 2012. I play League of Legends and my main character is Lux.
  .subsection.grid-100.grid-parent
    .grid-90.push-5.tablet-grid-90.tablet-prefix-5.mobile-grid-90.mobile-prefix-5
      .subsection-illustration.illus-left.grid-100
        = image_tag '/assets/images/illus-andie-o.png', :width=>"265px"
      .grid-50.prefix-25.suffix-25.grid-parent.subsection-content.tablet-grid-100.mobile-grid-100
        .subsection-heading.light Career
        %p.section-p Why a web artisan? I am a person who can spend a whole day in front of the screen. I am passionate with designing things and writing code. Creating web applications is something that I really love to do. I actually look forward in to being a master front end developer and UI/UX specialist someday.