#about.grid-container
  %div.section-heading.grid-100 
    %span About
  %div.subsection.grid-100.grid-parent
    %div.grid-90.push-5
      %div.subsection-illustration.illus-left.grid-100
        = image_tag '/assets/images/illus-andie-3.png', :width=>"100px"
      %div#about-hello-content.grid-60.prefix-20.suffix-20.grid-parent.subsection-content.tablet-grid-100.mobile-grid-100
        %div.subsection-heading.light Hello world
        %p For example: Although the header-height is set to a specific pixel value it is different in height for the two environments. Same with the width of the content: I set a max-width of 1260px - the width of the content is different for the two environments.
  %div.subsection.grid-100.grid-parent
    %div.grid-90.push-5
      %div.subsection-illustration.illus-left.grid-100
        = image_tag '/assets/images/illus-andie-2.png', :width=>"100px"
      %div.grid-60.prefix-20.suffix-20.grid-parent.subsection-content.tablet-grid-100.mobile-grid-100
        %div.subsection-heading.light Fun Facts
        %p.section-p For example: Although the header-height is set to a specific pixel value it is different in height for the two environments. Same with the width of the content: I set a max-width of 1260px - the width of the content is different for the two environments.
  %div.subsection.grid-100.grid-parent
    %div.grid-90.push-5
      %div.subsection-illustration.illus-left.grid-100
        = image_tag '/assets/images/illus-andie.png', :width=>"265px"
      %div.grid-60.prefix-20.suffix-20.grid-parent.subsection-content.tablet-grid-100.mobile-grid-100
        %div.subsection-heading.light Career
        %p.section-p For example: Although the header-height is set to a specific pixel value it is different in height for the two environments. Same with the width of the content: I set a max-width of 1260px - the width of the content is different for the two environments.