#resume.grid-container
  .section-heading.grid-100 
    %span Resume
  .grid-50.prefix-25.suffix-25.mobile-grid-100.tablet-grid-100.resume-main
    .grid-100.grid.parent.resume-big-row
      .grid-30.tablet-grid-30.mobile-grid-20.label-col.grid-parent 1. Education
      .grid-70.tablet-grid-70.mobile-grid-80.grid-parent

        .grid-100.grid-parent.resume-row
          %span.label-date <i class="fa fa-flag"></i>June 2015
          %span.label-title Bachelor of Science in Computer Science
          %span.label-location UNIVERSITY OF THE PHILIPPINES DILIMAN
          %span.award Dean's Lister (6 of 10 semesters)
          %span.award DOST Scholar
          %span.award One-year exchange student to KOREATECH in Cheonan, South Korea

        .grid-100.grid-parent.resume-row
          %span.label-date <i class="fa fa-flag"></i>March 2009
          %span.label-title High School
          %span.label-location St. John Colleges
          %span.award Salutatorian

    .grid-100.grid.parent.resume-big-row
      .grid-30.tablet-grid-30.mobile-grid-20.label-col.grid-parent 2. Work Experience

      .grid-70.tablet-grid-70.mobile-grid-80.grid-parent
        .grid-100.grid-parent.resume-row
          %span.label-date <i class="fa fa-flag"></i>May 2014 - July 2014
          %span.label-title Web Developer Intern
          %span.label-location STRATPOINT TECHNOLOGIES
          %span.award Tasked to create an employee feedback and review portal involving planning, interviews, software development, testing and feedback

        .grid-100.grid-parent.resume-row
          %span.label-date <i class="fa fa-flag"></i>Sep 2012 - Dec 2012
          %span.label-title Website Developer
          %span.label-location INTERNATIONAL HOUSE DORMITORY - KOREATECH
          %span.award Tasked to create and manage the dormitory's website from layout and design, deployment and content management

    .grid-100.grid.parent.resume-big-row
      .grid-30.tablet-grid-30.mobile-grid-20.label-col.grid-parent 3. Activities
      .grid-70.tablet-grid-70.mobile-grid-80.grid-parent

        .grid-100.grid-parent.resume-row
          %span.label-date <i class="fa fa-flag"></i>Apr 2014 - May 2015
          %span.label-title Website Development Team Head
          %span.label-location UP CAREER ASSISTANCE PROGRAM FOR ENGINEERING STUDENTS (UP CAPES)
          %span.award Spearheads publicity tasks involving web development such as <i>www.upcapes.org</i> and the resume manager which is an online resume editor and repository

        .grid-100.grid-parent.resume-row
          %span.label-date <i class="fa fa-flag"></i>Apr 2014 - May 2015
          %span.label-title Director for Publicity
          %span.label-location UP CENTER FOR STUDENT INNOVATIONS (UP CSI)
          %span.award In-charge of the publicity of the organization and building its strong brand identity along with a 10 member publicity committee

        .grid-100.grid-parent.resume-row
          %span.label-date <i class="fa fa-flag"></i>Nov 2013 - May 2015
          %span.label-title Publicity Committee Member
          %span.label-location UP ASSOCIATION FOR COMPUTER MACHINERY - UP DILIMAN CHAPTER (UP ACM)
          %span.award Tasked to layout and design publicity materials

    .grid-100.grid.parent.resume-big-row
      .grid-30.tablet-grid-30.mobile-grid-20.label-col.grid-parent 4. Skills
      .grid-70.tablet-grid-70.mobile-grid-80.grid-parent
        .grid-100.grid-parent.resume-row.skills-row
          %span.label-title Professional
          %br
          %span 
            %span.skill{:data=>{'count'=>8}} C
          %span 
            %span.skill{:data=>{'count'=>6}} Python
          %span
            %span.skill{:data=>{'count'=>6}} Java
          %span
            %span.skill{:data=>{'count'=>4}} Ruby
          %span
            %span.skill{:data=>{'count'=>7}} PHP
          %br
          %span
            %span.skill{:data=>{'count'=>9}} HTML
          %span
            %span.skill{:data=>{'count'=>8}} HAML
          %span
            %span.skill{:data=>{'count'=>9}} CSS
          %span 
            %span.skill{:data=>{'count'=>8}} JQuery
          %span
            %span.skill{:data=>{'count'=>7}} MySQL
          %span
            %span.skill{:data=>{'count'=>7}} Ruby on Rails
          %span
            %span.skill{:data=>{'count'=>7}} Laravel
          %br
          %span
            %span.skill{:data=>{'count'=>8}} Photoshop
          %span
            %span.skill{:data=>{'count'=>5}} Illustrator
          %span
            %span.skill{:data=>{'count'=>5}} Indesign
          %span
            %span.skill{:data=>{'count'=>3}} After Effects
          %br
          %span.label-title Language
          %br
          %span
            %span.skill{:data=>{'count'=>10}} Tagalog
          %span
            %span.skill{:data=>{'count'=>9}} English
          %span
            %span.skill{:data=>{'count'=>5}} Korean
          %br
          %span.label-title Personal
          %br
          %span
            %span.skill{:data=>{'count'=>9}} Leader
          %span
            %span.skill{:data=>{'count'=>8}} Creative
          %span
            %span.skill{:data=>{'count'=>9}}Team Player

