#home-banner
  .banner-bg
  .banner-text
    .grid-50.push-25
      %span.name 
        %span <span class="master-color">A</span><span>ndie Rabin</span><span class="nols">o</span>
        %span.hi Hi, I am
        %span.title a junior web artisa<span class="nols">n</span<