extends layout

block content
  div#home-banner
    .banner-bg
    .banner-text
      .grid-50.push-25
        span.name #[span.master-color#name-1 A]#[span#name-2 ndie Rabin]#[span#name-3.nols o]
          span.hi Hi, I am
          span.title #[span#title-1 a junior web artisa]#[span#title-2.nols n]