doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/unsemantic.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jpreloader.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Fjalla+One')
    script(src='http://code.jquery.com/jquery-git2.min.js')
    script(src='/javascripts/jpreloader.js')
    script(src='/javascripts/home.js')
  body
    #menu-toggled
      ul
        li
          a About
        li
          a Resume
        li
          a Blog
        li
          a Contact
    #main-nav
      div.grid-container.mh
        div.grid-100
          div.grid-30.tablet-grid-30.mobile-grid-30.grid-parent.mh
            a.site-link
              img(src="images/heylogo.png", height="75px")#site-logo
          div.grid-70.tablet-grid-70.mobile-grid-70.grid-parent.nav-right
            ul#main-menu
            
              li
                a About
              li
                a Resume
              li
                a Blog
              li
                a Contact
            ul#toggle-button

                .label MENU

                a.toggle-menu
                  .toggle-line
                  .toggle-line
                  .toggle-line
    block content