@import 'unsemantic.css';
@import 'prism.css';
@import 'font-awesome.css';

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: bold;

}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans Semibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Brandon';
    src: url('../fonts/Brandon_med.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon';
    src: url('../fonts/Brandon_light.otf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon';
    src: url('../fonts/Brandon_bld.otf');
    font-weight: bold;
    font-style: bold;
}


html {
  font-size: 62.5%;
  font-family: 'Sintony';
  padding: 0;
  margin: 0;
}
body {
  font-size: 1.4rem;
  font-weight: normal;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: #333;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #333;
}

p, .excerpt {
  font-weight: 300;
  color: #444;
  font-size: 1.3rem;
}

a:hover {
  color: #3498db;
  transition: 0.2s all linear;
}

/* ======== */
/* Sections */
/* ======== */

.section-header {
  border-top: 1px dotted #3498db;
  border-bottom: 1px dotted #3498db;
  color: #222;
}

.section-header-blue {
  background-color: #3498db;
}

.section-header-orange {
  background-color: #f97909;
}

#section-one {
  background-color: #3498db;
  padding: 0;
}
#section-one > * {
  color: #fff !important;
}
.andie-image {
  max-height: 200px;
  margin-top: 30px;
  overflow: hidden;
}

.blog-thumbnail {
  padding: 60% 0 0 0;
  position: relative;
  margin-bottom: 10px;
}
.blog-thumbnail a {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-block;

}

.blog-thumbnail  .image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}


.blog-thumbnail-inner {
  padding: 10px 0;
}

.blog-thumbnail-title {
  font-size: 1.7rem;
  border-bottom: 1px dotted #ccc;
  min-height: 51px;
}

.blog-thumbnail-category {
  font-weight: bold;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #f97909;
}

.blog-thumbnail-excerpt {
  overflow: hidden;
  min-height: 52px;
  max-height: 52px;


}

@media all and (max-width: 767px) {
  .blog-thumbnail-excerpt {
    width: 100%;
    min-height: 18px;
    max-height: 18px !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#about {
  background: #eee;
}

#contact {
  background-color: #3498db;
  color: #fff;
}

#contact p {
  color: #fff;
}

#section-latest {
  background: #fafafa;
}

#section-footer {
  background-color: #3498db;
  color: #fff;
  position: relative;
  bottom: 0;
}

/* ====== */
/* Header */
/* ====== */

#header {
  background-color: #3498db;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-inner {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  }

.header-inner > div {
  width: 50%;
  height: 30px;
  line-height: 30px;
}

.header-inner  div a  {
  color: #fff;
}

.brand-logo{
  font-family: 'Brandon';
  font-size: 2.2rem;
}


/* ==== */
/* Post */
/* ==== */

.post-details {
}

.post-category {
  font-family: 'Brandon';
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 1.2rem;
  color: #333;
}
#post-body {
  position: relative;
}
#post-share-buttons {
  position: absolute;
  transform: translateX(-150%);
  transition: 0.3s linear all;
}
#post-share-buttons.fixed {
  top: 60px;
  position: fixed;
}
#post-share-buttons a {
  display: block;
  height: 25px;
  line-height: 25px;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 3px;
}
#post-share-buttons a span {
  font-family: 'Sintony';
  font-size: 1.6rem;
  font-weight: bold;
  display: none;
}

#post-share-buttons a.fa-facebook {
  background-color: #3b5999;
}
#post-share-buttons a.fa-twitter {
  background-color: #55acee;
}
@media all and (max-width: 10000px) {
  #post-share-buttons {
    position: relative;
    left: 0;
    transform: translateX(0);
  }
  #post-share-buttons a {
    display: inline-block;
    width: auto;
  }
  #post-share-buttons a span {
    display: inline;
  }
}
.sidebar-blog {
  position: relative;
  margin-bottom: 25px;
}

.sidebar-thumbnail-title {
  bottom: 3px;
}

/* ==== */
/* Blog */
/* ==== */

.blog-list-category {
  font-family: 'Brandon';
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin-bottom: 5px;
}

/* ======== */
/* Category */
/* ======== */

.category-personal {
  color: #2980b9 !important;
}

.category-random {
  color: #e74c3c !important;
}

.category-web-development {
  color: #0aaf4c !important;
}

.highlight-color-red {
  color: #e74c3c;
}

.highlight-personal {
  color: white;
  background-color: #2980b9 !important;
}

.highlight-random {
  color: white;
  background-color: #e74c3c !important;
}

.highlight-web-development {
  color: white;
  background-color: #0aaf4c !important;
}

div.image {
  position: relative;
}

div.image-p {
  margin-bottom: 15px;
}

div.image > .caption {
  position: absolute;
  width: 100%;
  z-index: 2;
  height: 100%;
  max-width: 599px;
  overflow: hidden;
}

div.image > .caption > span {
  position: absolute;
  left: 0;
  bottom: 20px;
  color: #333;
  background: #f2ca27;
  padding: 3px 6px;
  font-size: 1.1rem;
}

.videowrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videowrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* ========== */
/* Typography */
/* ========== */

h1 {
  font-size: 5.6rem;
  margin: 0;
  font-weight: bold;
  color: #333;
}

h2 {
  font-size: 3.8rem;
  margin: 0;
  color: #444;
}

h3 {
  font-size: 2.8rem;
  font-style: bold;
  margin: 0;
  color: #454545;
  font-weight: bold;
}

h4 {
  font-size: 2.4rem;
  font-weight: normal;
  margin: 0;
}

h5 {
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 400;
  margin: 0;
}

p {
  font-weight: 300;
  line-height: 2.6rem;
}
p.instagram {
  max-width: 599px;
}
p, .caption, .meta {

}

#blog-cards {
  /* Prevent vertical gaps */
  -webkit-column-count: 4;
  -webkit-column-gap:   0px;
  -moz-column-count:    4;
  -moz-column-gap:      0px;
  column-count:         4;
  column-gap:           0px;
}

.blog-card {
  width: 100% !important;
  height: auto !important;
  break-inside: avoid-column;
  float: none;
  -webkit-column-break-inside: avoid;
}

@media (max-width: 1200px) {
  #blog-cards {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #blog-cards {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 767px) {
  #blog-cards {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
@media (max-width: 400px) {
  #blog-cards {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.blog-content {
  padding: 20px;
  background: #fff;
  border: 1px dotted #111;
}

.css-property {
  font-weight: bold;
  color: #f92672;
}

.css-function {
  font-weight: bold;
  color: #f1c40f;
}

.emphasis {
  font-weight: bold;
}

.excerpt {
  color: #888;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.headline {
  font-weight: normal;
  font-size: 2.1rem;
}

.title {
  font-size: 2.1rem;
  font-weight: bold;
}

.title-normal {
  font-weight: normal;
}

.title-number {
  display: inline-block;
  color: white;
  background-color: #3498db;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  text-align: center;
  line-height: 28px;
}

h3 > .title-number {
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 2.2rem;
}

h4 > .title-number {
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 1.8rem;
}

.caption {
  font-size: 1.4rem;
}

.meta {
  font-size: 1.2rem;
}

.text-white {
  color: #fff;
}

.text-gray {
  color: #9a9a9a;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meta-link {
  color: #3498db;
}

.blog-thumbnail-readmore {
  background: #34495e;
  color: #fff;
  padding: 5px;
  display: inline-block;
  font-size: 1rem;
}

.highlight {
  color: #00a99d;
}

.highlight-yellow {
  color: #f1c40f;
}

.highlight-blue {
  color: #2980b9;
}

.text-thin {
  font-weight: 100;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* ========= */
/* Utilities */
/* ========= */

.divider {
  border-top: 1px dotted #ccc;
  height: 1px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#disqus_thread, .disqus_header{

}


.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
  width: 100% !important;
}

.float-right {
  float: right;
}

.max-10000 {
  max-width: 10000px;
}
.padded-right-15 {
  padding-right: 15px;
}

.padded-right-20 {
  padding-right: 20px;
}

.padded-right-25 {
  padding-right: 25px;
}

.padded-top-15 {
  padding-top: 15px;
}

.padded-bottom-25 {
  padding-bottom: 25px;
}
.padded-v-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padded-v-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.padded-v-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.spacer {
  height: 30px;
}

.post h3,
.post h4 {
  margin-top: 50px;
}
