{% extends 'base.html' %}

{% block main %}
<section id="section-one" class="grid-container max-10000 padded-v-25">

  <div class="grid-container">
    <div class="grid-100">
      <div class="grid-80 prefix-10 tablet-grid-100 mobile-grid-100">
        <h1 class="text-white">Blog.</h1>
        <h4 class="text-thin text-white">Some reads about web design and <span>development</span> + random interests.
        </h4>
      </div>
    </div>
    <br>
    <br>
  </div>

</section>


<div class="grid-container">
  <div class="grid-80 prefix-10 tablet-grid-100 mobile-grid-100 padded-v-50">
    {% for post in posts %}
    <div class="grid-100 grid-parent padded-v-15">
        <div class="grid-35 tablet-grid-35">
          <div class="blog-thumbnail">
            <div class="image" style="background-image:url('/{{post.image}}')">
            </div>
          </div>
        </div>
        <div class="grid-65 tablet-grid-65 grid-parent">
          <div class="grid-100">
              <div class="grid-100 grid-parent">
                <div class="blog-list-category category-{{ post.category.split|join:'-'|lower }} emphasis">{{ post.category }}</div>
                <a href="/article/{{post.slug}}"><h4>
                  <b>{{post.title}}</b>
                </h4></a>

                <p class="grid-100 grid-parent">
                  {{post.excerpt}} <a class="meta meta-link" href="/article/{{post.slug}}">[ READ MORE ]</a>
                </p>
                <div class="grid-100 grid-parent text-thin meta padded-v-15">
                  {% load l10n %}

                  {% localize on %}
                      Posted {{post.posted|date:"M d, Y g:i A" }}
                  {% endlocalize %}
                </div>

            </div>
          </div>

        </div>
    </div>
    {% endfor %}
    <div class="grid-100 divider"></div>
  </div>
</div>

{% endblock %}
