{% extends 'base.html' %}

{% block og_tags %}
  {% for key, value in og_tags.items  %}
      {% if value != none %}
          <meta property="{{ key }}" content="{{ value }}" />
      {% endif %}
  {% endfor %}
  <meta property="title" content="{{title}} | Andie Rabino" />
{% endblock %}

{% block immediate_scripts %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '224598357874885',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}

{% block main %}
<section class="grid-container max-10000 padded-v-25">
<div class="grid-container">
  <div class="grid-80 prefix-10 tablet-grid-100 mobile-grid-100 grid-parent">
    <div class="grid-100 grid-parent">
      <div class="grid-100 grid-parent padded-v-50 post">
        <div class="grid-60 prefix-20 suffix-20 tablet-grid-70 tablet-prefix-15 tablet-suffix-15 mobile-grid-90 mobile-prefix-5 mobile-suffix-5">
          <div class="grid-100 grid-parent text-center">
            <div class="post-category category-{{ post.category.split|join:'-'|lower }}">{{ post.category }}</div><br>
          </div>
          <div class="text-center padded-v-15 grid-100 grid-100 grid-parent meta">
            {% load l10n %}

            <span class="text-gray excerpt">Posted on {{post.localized_posted|date:"M d, Y g:i A" }}</span>

          </div>

          <div class="grid-100 text-center grid-parent">

            <h2 class="post-title">
              {{post.title}}
            </h2>
            <div class="padded-v-15 text-center excerpt">{{post.excerpt}}</div>
            <div class="grid-100 grid-parent meta text-center text-blue">
              by Andie Rabino
            </div>
            <div class="divider"></div>
          </div>
          <div id="post-body">
            <div id="post-share-buttons">

              <a class="fa fa-facebook" id="share"> <span>Share</span></a>
              {% if share_count > 0 %}
              <div class="share-count">{{share_count}}</div>
              {% endif %}
              <a class="fa fa-twitter" id="tweet"> <span>Tweet</span></a>

            </div>
            {{post.body|safe}}
          </div>
          <div class="grid-100 grid-parent">
            <p class="divider"></p>
            <h3 class="emphasis disqus_header">Thoughts on <span style="font-weight:normal">{{post.title}}</span></h3>
            <div class="spacer"></div>
            <div id="disqus_thread"></div>
          </div>
        </div>
      </div>
      <div class="grid-100">

        <div class="grid-100 post-category padded-bottom-25">
          <div class="divider"></div>LATEST POSTS</div>
        <div class="grid-100 grid-parent">

          {% for post in posts %}
          <div class="grid-33 tablet-grid-33 mobile-grid-100 grid-parent sidebar-blog">
            <div class="mobile-grid-100">
              <div class="blog-thumbnail">
                <div class="image" style="background-image:url('/{{post.image}}')">
                </div>
              </div>
            </div>

            <div class="mobile-grid-100 sidebar-thumbnail-title">
              <a href="/article/{{post.slug}}">
                <b>{{post.title}}</b>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>

    <script>
    var posturl = "{{post.url}}";
    window.onload = function () {
      var shareButton = document.getElementById('share');
      var tweetButton = document.getElementById('tweet');
      shareButton.onclick = function (e) {
        ga('send', 'event', 'Social', 'share', 'Facebook');
        FB.ui(
         {
          method: 'share',
          href: posturl
        }, function(response){

        });
      }

      tweetButton.onclick = function (e) {
        var self = this;
        var link = "https://twitter.com/intent/tweet?url="+posturl;
        var x = screen.width/2 - 700/2;
        var y = screen.height/2 - 485/2;
        ga('send', 'event', 'Social', 'share', 'Twitter');
        window.open(encodeURI(link), "Roadmob Twitter Share", 'height=485,width=700,left='+x+',top='+y);
        e.stopPropagation();
      }
    }
    </script>
    <script>

    /**
    * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');

    s.src = '//andierabino.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>

    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>
</div>
</section>

{% endblock %}
