{% extends 'base.html' %}

{% block body_class %}
  grid-blue
{% endblock %}

{% block main %}

<section id="about" class="grid-container max-10000">
  <div class="grid-container">
    <div class="grid-80 prefix-10 tablet-grid-100 mobile-grid-100 padded-v-25 padded-bottom-0">

      <div class="grid-100 text-center padded-v-15">
        <h3 class="slideUp emphasis section-header padded-v-50">Andie Who?</h3>

      </div>
      <div class="padded-v-25 padded-bottom-0 grid-100 grid-parent">

        <div class="fadeIn grid-33 tablet-grid-33 mobile-grid-70 mobile-prefix-15">
          <div class="title text-center"><span class="title-number title-number-1">1</span> Hey</div>
          <p>
            I am Andie Rabino. I took up a Bachelor’s degree in Computer Science from the University of the Philippines Diliman.
            I started taking Computer Engineering but I shifted my path into software engineering instead.
          </p>
        </div>
        <div class="fadeIn grid-33 tablet-grid-33 mobile-grid-70 mobile-prefix-15">
          <div class="title text-center"><span class="title-number title-number-2">2</span> Career</div>
          <p>
            I am a person who can spend a whole day in front of the screen.
            Designing and developing websites are things that I enjoy doing.
            I am also looking forward to be a UI/UX specialist someday. You can view my resume <a target="=_blank" href="/static/files/resume-of-andie-rabino.pdf">here</a>.
          </p>
        </div>
        <div class="fadeIn grid-33 tablet-grid-33 mobile-grid-70 mobile-prefix-15">
          <div class="title text-center"><span class="title-number title-number-3">3</span> Random</div>
          <p>
            My favorite food is spaghetti. I hated spicy food not until I lived in Korea for 10 months back in 2012.
            I play League of Legends and my main character is Lux. I am interested in watching Korean movies and series.
          </p>
        </div>
        <div class="text-center grid-100 tablet-grid-100 mobile-grid-100">
          <div class="text-center grid-100 andie-image">
            <img src="/static/images/andie-bw.png" width=180>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
