<!doctype html>
{% load staticfiles %}
<html>
<head>
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Hey Andie</title>
  {% endif %}
  <meta charset="utf-8"></meta>
  <meta name="description" content="Hi, I'm Andie Rabino, a full stack developer just writing some random posts.">
  <meta name="keywords" content="Korean,Kdrama,Web,HTML,CSS,JavaScript">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta property="fb:admins" content="andie.rabino"/>
  {% if not og_tags %}
  <meta property="og:title" content="Hey Andie">
  <meta property="og:description" content="Hi, I'm Andie, a full stack developer just writing some random posts.">
  <meta property="og:image" content="http://www.heyandie.com/static/images/site-cover.jpg">
  {% endif %}
  {% block og_tags %}
  {% endblock %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  <link rel="icon" type="image/jpeg" href="{% static 'icons/favicon.jpg' %}">
  <script src="/static/js/prism.js"></script>

  <!-- Google Analytics -->
  <script type="text/javascript">
  window.ga = function() {};
  if (window.location.host==="heyandie.herokuapp.com" || window.location.host==="heyandie.com" || window.location.host==="www.heyandie.com") {

     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
     ga('create', 'UA-71595705-2', 'auto');  // Replace with your property ID.
     ga('send', 'pageview', {
       page: window.location.pathname
     });
     console.log("Done");
  }

  </script>
  <!-- End Google Analytics -->

</head>
<body>
  {% block immediate_scripts %}

  {% endblock %}
  <header id="header" class="grid-container max-10000 {{header_class}}">
    <div class="grid-container">
      <div class="grid-100">
        <div class="header-inner grid-80 prefix-10 tablet-grid-100 mobile-grid-100">
          <div class="grid-100 grid-parent">
            <div>
              <a class="brand-logo" href="/">heyandie</a>
            </div>
            <div id="main-nav" class="text-right">
              <a href="#about">ABOUT</a>
              <a href="#contact">CONTACT</a>
              <a href="//facebook.com/andie.rabino" target="=_blank" class="fa fa-facebook-square"></a>
              <a href="//instagram.com/andiedote" target="=_blank" class="fa fa-instagram"></a>
              <a href="//github.com/heyandie" target="=_blank" class="fa fa-github"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% block main %}

  {% endblock %}
  <section id="about" class="grid-container max-10000 padded-bottom-25">
    <div class="grid-container">
      <div class="grid-80 prefix-10 tablet-grid-100 mobile-grid-100">
        <div class="grid-100 text-center padded-v-50">

          <h3 class="emphasis section-header padded-v-15">What's Up Yo?</h3>
        </div>

        <div class="grid-33 tablet-grid-33">
          <div class="title"><span class="title-number">1</span> Hey</div>
          <p>
            I am Andie Rabino. I took up a Bachelor’s degree in Computer Science from the University of the Philippines Diliman.
            It was originally Computer Engineering but I shifted my path into software engineering instead.
          </p>
        </div>
        <div class="grid-33 tablet-grid-33">
          <div class="title"><span class="title-number">2</span> Career</div>
          <p>
            I am a person who can spend a whole day in front of the screen.
            Designing and developing websites are things that I enjoy doing.
            I am also looking forward to be a UI/UX specialist someday.
          </p>
        </div>
        <div class="grid-33 tablet-grid-33">
          <div class="title"><span class="title-number">3</span> Random</div>
          <p>
            My favorite food is spaghetti. I hated spicy food not until I lived in Korea for 10 months back in 2012.
            I play League of Legends and my main character is Lux. I am interested in watching Korean movies and series.
          </p>
        </div>

      </div>
    </div>
  </section>
  <section id="contact" class="grid-container max-10000 text-center padded-v-15">
    <div class="title">
      Contact
    </div>
    <div class="max-10000 padded-top-15">
      Feel free to message at rabinoandie@gmail.com
    </div>
  </section>
  <section id="section-footer" class="grid-container max-10000 text-center padded-bottom-25">
    <div class="padded-v-15 headline">
      <a href="//facebook.com/andie.rabino" target="=_blank" class="text-white fa fa-facebook-square"></a>&nbsp;
      <a href="//instagram.com/andiedote" target="=_blank" class="text-white fa fa-instagram"></a>&nbsp;
      <a href="//github.com/heyandie" target="=_blank" class="text-white fa fa-github"></a>
    </div>
    <div class="meta text-thin">
      Copyright © 2016 · Andie Rabino
    </div>
  </section>
</body>
</html>
