<!doctype html>
{% load staticfiles %}
<html>
<head>
  <title>Andie Rabino</title>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta property="fb:admins" content="andie.rabino"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <header id="header" class="grid-container max-10000">
    <div class="grid-container">
      <div class="grid-100">
        <div class="header-inner grid-90 prefix-5 tablet-grid-90 tablet-prefix-5 mobile-grid-90 mobile-prefix-5">
          <div>
            <a href="/"><b>ANDIE</b> RABINO</a>
          </div>
          <div class="text-right">
            <a href="/blog">BLOG</a>&nbsp;
            <a>CONTACT</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% block main %}

  {% endblock %}
  <section id="section-footer" class="grid-container max-10000 text-center padded-v-25">
    <div class="meta text-thin">
      Copyright © 2016 · Andie Rabino
    </div>
  </section>
</body>
</html>
