<!doctype html>
{% load staticfiles %}
<html>
<head>
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Hey Andie</title>
  {% endif %}
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta property="fb:admins" content="andie.rabino"/>
  {% block og_tags %}
  {% endblock %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>
  <script src="/static/js/prism.js"></script>
  <script type="text/javascript">

  if (window.location.host==="heyandie.herokuapp.com") {
     if (document.cookie.indexOf("COOKIENAME=COOKIEVALUE") === -1) {
       var _gaq = _gaq || [];
       _gaq.push(['_setAccount', 'UA-71595705-2']);
       _gaq.push(['_trackPageview']);

       (function() {
         console.log('Loaded ga');
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     }
  }



  </script>
</head>
<body>
  <header id="header" class="grid-container max-10000">
    <div class="grid-container">
      <div class="grid-100">
        <div class="header-inner grid-80 prefix-10 tablet-grid-100 mobile-grid-100">
          <div>
            <a class="brand-logo" href="/">heyandie</a>
          </div>
          <div class="text-right">
            <a href="#about">ABOUT</a>&nbsp;&nbsp;
            <a href="#contact">CONTACT</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% block main %}

  {% endblock %}
  <section id="about" class="grid-container max-10000 padded-bottom-25">
    <div class="grid-container">
      <div class="grid-80 prefix-10 tablet-grid-100 mobile-grid-100">
        <div class="padded-bottom-25 grid-100">

          <div class="section-header">ABOUT</div>
        </div>
        <div class="grid-33 tablet-grid-33">
          <div class="title"><span class="title-number">1</span> Hello world</div>
          <p>
            I am Andie Rabino. I took up a Bachelor’s degree in Computer Science from the University of the Philippines Diliman.
            It was originally Computer Engineering but I shifted my path into software engineering instead.
          </p>
        </div>
        <div class="grid-33 tablet-grid-33">
          <div class="title"><span class="title-number">2</span> Random facts</div>
          <p>
            My favorite food is spaghetti. I hated spicy food not until I lived in Korea for 10 months back in 2012.
            I play League of Legends and my main character is Lux. I am interested in watching Korean movies and series.
          </p>
        </div>
        <div class="grid-33 tablet-grid-33">
          <div class="title"><span class="title-number">3</span> Career</div>
          <p>
            I am a person who can spend a whole day in front of the screen.
            Designing and developing websites are things that I really love to do.
            I am also looking forward to be a UI/UX specialist someday.
          </p>
        </div>
      </div>
    </section>
    <section id="contact" class="grid-container max-10000 text-center padded-v-25">
      <div class="title">
        Contact
      </div>
      <p class="max-10000">
        Feel free to message at rabinoandie@gmail.com
      </p>
    </section>
    <section id="section-footer" class="grid-container max-10000 text-center padded-v-25">
      <div class="meta text-thin">
        Copyright © 2016 · Andie Rabino
      </div>
    </div>
  </section>
</body>
</html>
