{% extends 'base.html' %}

{% block body_class %}
  grid-blue
{% endblock %}

{% block main %}

<section class="grid-container max-10000 grid-blue">
  <div class="grid-container">
    <div class="grid-80 prefix-10 text-center tablet-grid-100 mobile-grid-100 padded-v-50">
      <div class="grid-100">
        <div id="contact" class="padded-v-100">
          <div class="title">Let's Get In Touch</div>
          <div class="text-white padded-v-15">
            Send a message to rabinoandie@gmail.com
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

{% endblock %}


{% block footer_class %}footer-absolute{% endblock %}
