{% extends 'base.html' %}

{% block body_class %}
  grid-blue
{% endblock %}

{% block main %}

<section id="contact"  class="grid-container max-10000 grid-blue">
  <div class="grid-container">
    <div class="grid-80 prefix-10 text-center tablet-grid-100 mobile-grid-100 padded-v-50">
      <div class="grid-100">
        <div class="grid-100 text-center padded-v-25"><h2 class="slideUp text-white">Contact Me</h2></div>
        <div class="padded-v-50">
          <div class="text-white padded-v-15">
            Feel free to email me at rabinoandie@gmail.com
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

{% endblock %}
