<!DOCTYPE html>
<html>
<head>
  <title>Sample GIF</title>

  <meta property="fb:app_id" content="224598357874885">
  <meta property="og:site_name"   content="Heyandie">
  <meta property="og:url" content="https://www.heyandie.com/gif">
  <meta property="og:video"    content="http://s3-ap-southeast-1.amazonaws.com/wittybunny.development/uploads/ab/ab282529ccaf439d84406354e01c8a71.mp4">
  <meta property="og:video:secure_url"    content="https://s3-ap-southeast-1.amazonaws.com/wittybunny.development/uploads/ab/ab282529ccaf439d84406354e01c8a71.mp4">
  <meta property="og:video:width" content="300">
  <meta property="og:video:height" content="300">
  <meta property="og:video:type" content="video/mp4">
  <meta property="og:title" content="Sample GIF">


</head>
<body>
</body>
</html>
