<!DOCTYPE html>
<html>
<head>
  <title>Sample GIF</title>

  <meta property="fb:app_id" content="224598357874885">
  <meta property="og:site_name"   content="Heyandie">
  <meta property="og:url"    content="https://s3.amazonaws.com/wittybunny.production/uploads/de/debc21d46e7b42b8b674d6a8bf6cc3f3.gif">
  <meta property="og:title" content="Sample GIF">
  <meta property="og:type" content="video.other">

  <meta property="og:image"  content="https://s3.amazonaws.com/wittybunny.production/uploads/de/debc21d46e7b42b8b674d6a8bf6cc3f3.gif">
  <meta property="og:image:width"  content="300">
  <meta property="og:image:height" content="300">

</head>
<body>
</body>
</html>
