<!DOCTYPE html>
<html>
<head>
  <title>Sample GIF</title>

  <meta property="fb:app_id" content="224598357874885">
  <meta property="og:site_name"   content="Heyandie">
  <meta property="og:url" content="https://www.heyandie.com/gif">
  <meta property="og:type" content="video" />
  <meta property="og:video:url"    content="https://www.heyandie.com/static/files/video.mp4">
  <meta property="og:secure:url"    content="https://www.heyandie.com/static/files/video.mp4">
  <meta property="og:video:width" content="300">
  <meta property="og:video:height" content="300">
  <meta property="og:video:type" content="video/mp4">
  <meta property="og:title" content="Sample GIF">


</head>
<body>
</body>
</html>
 /&gt;
&lt;meta property="og:video:height" content="426"
