<html>
<head>
  <title>Tetris</title>
  <style>
    .grid {

    }
    .cube {
      width: 10px;
      height: 10px;
      background: #fff;
    }
    .tetromino-i {
      background-color: cyan;
    }
    .tetromino-o {
      background-color: yellow;
    }
    .tetromino-t {
      background-color: purple;
    }
    .tetromino-s {
      background-color: green;
    }
    .tetromino-z {
      background-color: red;
    }
    .tetromino-j {
      background-color: blue;
    }
    .tetromino-l {
      background-color: orange;
    }
  </style>
</head>

<body>
  <div class="grid">

  </div>
  <script type="javascript/text">

    function Tetris(options) {
      this.difficulty = options.difficulty;
      this.rows = options.rows;
      this.cols = options.cols;
      this.placeholder = options.placeholder;
      this.render();
    }

  </script>
</body>

</html>
