{% extends 'base.html' %}

{% block immediate_scripts %}
<script src="/static/js/wookmark.js"></script>
{% endblock %}
{% block main %}
<section id="section-one" class="grid-container max-10000">

  <div class="grid-container">
    <div class="grid-100">
      <div class="grid-80 prefix-10 tablet-grid-100 mobile-grid-100">
        <h1 class="text-white text-center"><span class="text-white">Hi. This is Andie.</span></h1>
        <h5 class="text-thin text-center">A full stack developer writing random posts.
        </h5>
        <div class="text-center grid-100 andie-image">
          <img src="/static/images/andie-bw.png" width=200>
        </div>
      </div>
    </div>

  </div>

</section>


<section id="section-latest" class="grid-container max-10000">
  <div class="grid-container">
    <div class="grid-80 prefix-10 tablet-grid-100 mobile-grid-100 padded-v-50">

      <div id="blog-cards" class="grid-100 grid-parent">
      {% for post in posts %}
      <div class="blog-card">
          <div class="grid-100 mobile-grid-40">
            <div class="blog-thumbnail">
              <a href="/article/{{post.slug}}">
              <div class="image" style="background-image:url('/{{post.image}}')"></div>
              </a>
            </div>
          </div>
          <div class="grid-100 mobile-grid-60 grid-parent">
            <div class="grid-100">
                <div class="grid-100 grid-parent blog-thumbnail-details">
                  <div class="blog-list-category category-{{ post.category.split|join:'-'|lower }}">{{ post.category }}</div>
                  <a href="/article/{{post.slug}}"><h5>
                    <b>{{post.title}}</b>
                  </h5></a>

                  <p class="grid-100 grid-parent blog-thumbnail-excerpt excerpt">
                    {{post.excerpt}}
                  </p>

                  <div class="grid-100 grid-parent text-thin">
                    {% load l10n %}

                    {% localize on %}
                        <span class="text-gray meta">Posted on {{post.localized_posted|date:"M d, Y g:i A" }}</span>
                    {% endlocalize %}

                  </div>

              </div>
            </div>
          </div>

          <div class="grid-100 mobile-grid-100"><div class="divider divider-{{ post.category.split|join:'-'|lower }}"></div></div>
      </div>
      {% endfor %}
      </div>
    </div>
  </div>

</section>
<script type="text/javascript">
  var domIsReady = (function(domIsReady) {
     var isBrowserIeOrNot = function() {
        return (!document.attachEvent || typeof document.attachEvent === "undefined" ? 'not-ie' : 'ie');
     }

     domIsReady = function(callback) {
        if(callback && typeof callback === 'function'){
           if(isBrowserIeOrNot() !== 'ie') {
              document.addEventListener("DOMContentLoaded", function() {
                 return callback();
              });
           } else {
              document.attachEvent("onreadystatechange", function() {
                 if(document.readyState === "complete") {
                    return callback();
                 }
              });
           }
        } else {
           console.error('The callback is not a function!');
        }
     }

     return domIsReady;
  })(domIsReady || {});

  (function(document, window, domIsReady, undefined) {
     domIsReady(function() {
        console.log('My DOM is ready peeps!');
        var container = '#blog-cards';
        new Wookmark(container, {
          align: 'left',
          offset: 0,
          outerOffset: 0,
          autoResize: true, // This will auto-update the layout when the browser window is resized.
          itemWidth: function () {
            // Return a maximum width depending on the viewport
            var windowWidth = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
            var collectionWidth = document.getElementById('blog-cards').offsetWidth;
            if (windowWidth > 800) {
              return 0.25 * collectionWidth;
            } else if (windowWidth <= 420) {
              return collectionWidth;
            } else {
              return 1 * collectionWidth;
            }
          },
          flexibleWidth: function () {
            // Return a maximum width depending on the viewport
            return '100%';
          },
          container: document.getElementById('blog-cards'),
          resizeDelay: 50

      });

     });
  })(document, window, domIsReady);
</script>

{% endblock %}
