{% extends 'base.html' %}

{% block main %}
<section id="section-one" class="grid-container max-10000">

  <div class="grid-container">
    <div class="grid-100">
      <div class="grid-80 prefix-10 tablet-grid-100 mobile-grid-100">
        <h1 class="text-white text-center"><span class="text-white">Hi. This is Andie.</span></h1>
        <h5 class="text-thin text-center">A full stack developer writing random posts.
        </h5>
        <div class="text-center grid-100 andie-image">
          <img src="/static/images/andie-bw.png" width=200>
        </div>
      </div>
    </div>

  </div>

</section>

<section id="section-latest" class="grid-container max-10000">
  <div class="grid-container">
    <div class="grid-80 prefix-10 tablet-grid-100 mobile-grid-100 padded-v-50">

      <div id="blog-cards" class="grid-100 grid-parent">
      {% for post in posts %}
      <div class="blog-card grid-25 tablet-grid-50 mobile-grid-100 grid-parent">
          <div class="grid-100 mobile-grid-40">
            <div class="blog-thumbnail">
              <a href="/article/{{post.slug}}">
              <div class="image" style="background-image:url('/{{post.image}}')"></div>
              </a>
            </div>
          </div>
          <div class="grid-100 mobile-grid-60 grid-parent">
            <div class="grid-100">
                <div class="grid-100 grid-parent blog-thumbnail-details">
                  <div class="blog-list-category category-{{ post.category.split|join:'-'|lower }}">{{ post.category }}</div>
                  <a href="/article/{{post.slug}}"><h5>
                    <b>{{post.title}}</b>
                  </h5></a>

                  <p class="grid-100 grid-parent blog-thumbnail-excerpt excerpt">
                    {{post.excerpt}}
                  </p>

                  <div class="grid-100 grid-parent text-thin">
                    {% load l10n %}

                    {% localize on %}
                        <span class="text-gray meta">Posted on {{post.localized_posted|date:"M d, Y g:i A" }}</span>
                    {% endlocalize %}

                  </div>

              </div>
            </div>
          </div>

          <div class="grid-100 mobile-grid-100"><div class="divider divider-{{ post.category.split|join:'-'|lower }}"></div></div>
      </div>
      {% endfor %}
      </div>
    </div>
  </div>

</section>


{% endblock %}
