@import 'variables';
#about{
	min-height: 100vh;
	background-color: $master-color;
	padding-top: 100px;
	.subsection-content{
		opacity: 0;
	}
	.subsection{
		background-color: $gray-one;
		padding-top: 30px;
		padding-bottom: 30px;
		vertical-align: bottom;

		p{
			font-size: 16px;
			line-height: 22px !important;
			color: #444;
			text-align: justify;
		}
	}
	
	.section-heading{
		text-align: center;
		padding-top: 100px;
		padding-bottom: 30px;
		background: $gray-one;
		z-index: 1;

		span{
			font-size: 44px;
			line-height: 40px;
			padding: 5px 10px;
			font-family: 'Fjalla One';
			letter-spacing: 3px;
			background: $master-color;
			color: #fff;
			text-transform: uppercase;

		}
	}

	.subsection-heading{
		font-size: 35px;
		font-family: 'Fjalla One';
		text-align: center;
		letter-spacing: 2px;
		color: #e04146;
		padding: 30px 0px;
		border-bottom:1px dotted $secondary-color;
	}
	.subsection-illustration{
		position: relative;
		text-align: center;
		font-size: 0px;
		height: 100%;
	}
	.subsection-illustration img{
		position: relative;
		left: -1000px;
		bottom: 0px;
	}
	
	.subsection-illustration.illus-right img{
		left: 600px;
	}
	.subsection.light .subsection-heading{
		border-color: #fff;
	}
	.subsection.light p{
		color: #fff;
	}

	.subsection-two{
		background-color: $master-color;

		p{
			color: #fff;
		}
		.subsection-heading{
			color: #fff;
		}
		.subsection-heading{
			border-color: #fff;
		}
	}
}

