@import 'variables';

#contact{
	min-height: 300px;
	background-color: transparent;
	opacity: 0;
	transition: 0.4s;
	position: relative;
}

.contact-details{
	text-align: center;
	color: #fff;
	font-size: 16px;

	img{
		position: absolute;
		left:50%;
		margin-left: -50px;
		bottom: 45px;
	}
}