@import 'variables';
@include keyframes(wow) {
  from{ opacity: 1;}
  to{opacity: 0; background-size: auto 150%}
}
	

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #222;
}
.section{
	padding-left: 30px;
	padding-right: 30px;
}
body {
  padding: 0px;
  margin: 0px;
  font: 14px "Muli",Helvetica, Arial, sans-serif;
  min-height: 100vh;
  position: relative;
  overflow-x:hidden;
  clear:both;
}
.grid-container{
	max-width: 10000px !important;
	padding:0px !important;
}


a {
  color: #00B7FF;
}
.mh{
  height: 100%;
}
.nols{
  letter-spacing: 0px;
}
.master-color{
	color: $master-color;
}
#menu-toggled{
	background:transparent;
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	transition:0.3s;
	text-align:center;
	opacity: 0;
	ul{
		list-style:none;
		margin-top: 120px;
		margin-right: 20px;
		position: relative;
		z-index: 100;
	}
	li{
		display: block;
		width: auto;
		cursor: pointer;
		padding: 15px 0px;
		a{	
			font-family: "Fjalla One";
			font-size: 32px;
			line-height: 50px;
			color: #444;
			cursor: pointer;
			text-decoration: none;
			position: relative;
			display: inline-block;
			
		}
		a:hover{
			color: $secondary-color;
		}
	}
	
}
#menu-toggled.displayed{
	background: rgba(230,230,230,0.98);
	visibility: visible;
	opacity: 1;
}
#main-nav{
	height: 80px;
	position: fixed;
	width: 100%;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	z-index: 100;
	a.site-link{
		line-height: 100px;
		cursor: pointer;
		height: 65px;
		display: inline-block;
	}
	#site-logo{
		height:65px;
		line-height: 100px;
		display: inline-block;
	}
	.nav-right{
		text-align: right;
	}
	#toggle-button{
		position: relative;
		display: none;
		margin-top: 10px;
	}

	#main-menu{
	display:inline-block;
	list-style: none;
	font-family: 'Fjalla One';
	padding: 0px;
	margin: 0px;
 		li{
 			display: inline-block;
 			line-height: 30px;
 			position: relative;
 		}
 		
	 	li a{
	 		color: #444;
	 		padding-left: 10px;
	 		padding-right: 10px;
	 		cursor: pointer;
	 		transition: 0.3s;
	 		font-size: 17px;
	 		letter-spacing: 2px;
	 		text-decoration: none;
	 	}
	 	li a:hover{
	 		color: $master-color;
	 	}
	 	li:after{
	 		content: "/";
	 		color:#333;
	 		font-size: 16px;
	 	}
	 	li:last-child a{
	 		padding-right: 0px;
	 	}
	 	li:last-child:after{
	 		content: "";
	 	}

	}
	#toggle-button{
		cursor: pointer;
		.toggle-menu{
			display: inline-block;
			width: 100px;
			position: relative;
			height: 30px;
			padding: 0px;
		}
		.label{
			position: absolute;
			width: 60px;
			height: 30px;
			line-height: 30px;
			z-index: 1000;
			font-family: "Fjalla One";
			font-size: 18px;
			line-height: 30px;
			right: 35px;
			top: -3px;
		}
		.toggle-line{
			width: 30px;
			right: 0;
			position: absolute;
			padding-right: 0;
			border-top: 2px solid #444;
			display: block;
			margin:5px 0px;
			transition:0.5s;
		}
		.toggle-line:nth-of-type(1){
			transform:translate(0px,-1px);
		}
		.toggle-line:nth-of-type(2){
			transform:translate(0,6px);
		}
		.toggle-line:nth-of-type(3){
			transform:translate(0,13px);
		}
		.toggle-menu:not(.toggle-to-close):hover .toggle-line:nth-of-type(1){
			transform:translate(0,-3px);
		}
		.toggle-menu:not(.toggle-to-close):hover .toggle-line:nth-of-type(3){
			transform:translate(0,15px);
		}
		.toggle-to-close .toggle-line:nth-child(even){
			transform:  translate(0, 5px)  rotate(-45deg);
		}
		.toggle-to-close .toggle-line:nth-child(1){
			transform:  translate(0, 5px)  rotate(45deg);
		}
		.toggle-to-close .toggle-line:nth-of-type(3){
			transform:  translate(0, 5px) rotate(45deg);
		}
	}
	

}



#home-banner{

	width: 100%;
	height: 100vh;
	padding: 0px;
	background-image: url('/assets/images/happy_background_1360_x_768_o.jpg');
	background-position: center center;
	background-size: cover;
	position: relative;
	transition: 0.5s;
	.banner-bg{
		background: rgba(0,0,0,0.1) url('/assets/images/happy_background_1360_x_768_o.jpg') no-repeat center center;
		position: absolute;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		background-position: center center;
		background-size: auto 100%;
		z-index: 0;
		width: 100%;
		height: 100%;
		
		
	}
	.animated-banner{
		@include animation('wow 1.25s linear 0s forwards');
	}
	.banner-text{
		position: absolute;
		text-align: center;
		width: 100%;
		height: 100px;
		top:60%;
		margin-top: -50px;
		color: #fff;

		
		.name{
			font-size: 72px;
			font-family: 'Fjalla One';
			color: #fff;
			position: relative;
			letter-spacing: 10px;
			display: inline-block;
			.hi{
				letter-spacing: 0px;
				color:#111;
				position: absolute;
				display: inline-block;
				width: 600px;
				top: -30px;
				left: 0px;
				text-align: left;
				font-size: 30px;
				letter-spacing: 5px;
			}
			.title{
				position: absolute;
				right: 0px;
				letter-spacing: 5px;
				bottom: -25px;
				font-size: 18px;
				padding-top:4px;
				border-top: 1px dotted #fff;
			}
			
		}
		@media all and (max-width: 767px){
			.name{
				font-size: 30px !important;
			}
			.hi{
				color: #fff !important;
			}
		}

	}

	
}
.title:last-letter{
	letter-spacing:0px !important;
}

@media all and (max-width: 767px){
	#toggle-button{
		display: inline-block !important;
	}
	#main-menu{
		display: none !important;
	}
}