{% extends 'base.html' %}



{% block main %}
<div class="grid-container max-10000 grid-white">
  <div class="grid-container">

    <div class="grid-60 prefix-20 tablet-grid-80 tablet-prefix-10 mobile-grid-100 padded-v-75">
      <div class="grid-100"><h1 class="emphasis ">RESUME MANAGER</h1></div>
      <div class="grid-100 padded-bottom-50">

        <p class="headline">Resume Manager is an online resume editor and repository provided by UP CAPES for the students of College of Engineering in University of the Philippines Diliman.<p>
      </div>

      <div class="grid-20 tablet-grid-20 mobile-grid-20 ">

        <p class="no-line-height no-top-margin meta work-sidebar-title">Tools</p>
        <p class="meta">
          PHP<br>
          Codeigniter<br>
          KnockoutJS<br>
        </p>
      </div>
      <div class="grid-75 prefix-5 tablet-grid-75 tablet-prefix-5 mobile-grid-75 mobile-prefix-5">

        <h3 class="work-subheader">Create a resume</h3>

        <p>Students are provided with a web interface where they can input details required to generate their resumes.
          They can also choose to include their own resume file.
        </p>
        <p>
          <img src="/static/images/work/resume-page-1.jpg" width="100%">
        </p>

        <div class="spacer"></div>

        <h3 class="work-subheader">Download your resume</h3>

        <p>A confirmation email with the pdf file of the generated resume is sent to the
          student upon submission.
        </p>
        <p>
          <img src="/static/images/work/resume-page-2.jpg" width="100%">
        </p>


      </div>



      </div>
    </div>

  </div>
</div>

{% endblock %}
