{% extends 'base.html' %}



{% block main %}
<div class="grid-container max-10000 grid-white">
  <div class="grid-container">

    <div class="fadeIn grid-60 prefix-20 tablet-grid-80 tablet-prefix-10 mobile-grid-100 padded-v-75">

      <div class="grid-100">
        <h1 class="emphasis">ROADMOB</h1>


      </div>
      <div class="grid-100 padded-bottom-50">

        <p class="headline">Roadmob is an online platform for reporting abusive PUV drivers and operators.
  With Roadmob, we can collectively make our commute experience safer and better.</p>
            <a target="_blank" href="//roadmob.ph" class="btn">View Site</a>
      </div>

      <div class="grid-20 tablet-grid-20 mobile-grid-20">
        <p class="no-top-margin no-line-height meta work-sidebar-title">Team</p>
        <p class="meta">
        Christine Balili<br>
        Andie Rabino<br>
        Acezon Cay<br>
        Dale Lim<br>
        Frank Rayo</p>
        <div class="spacer"></div>

        <p class="meta work-sidebar-title">Tasks</p>
        <p class="meta">
        Logo Design<br>
        Project Setup<br>
        Backend<br>
        Frontend<br>
        <div class="spacer"></div>

        <p class="meta work-sidebar-title">Tools</p>
        <p class="meta">
          Python<br>
          Django<br>
          REST API<br>
          BackboneJS<br>
          Marionette<br>
          SASS<br>
        </p>
      </div>
      <div class="grid-75 prefix-5 tablet-grid-75 tablet-prefix-5 mobile-grid-75 mobile-prefix-5">

        <h3 class="work-subheader">File a report</h3>

        <p>Commuters can publish a complaint against abusive PUV drivers and operators.
          These complaints are accessible to the public and are forwarded to LTFRB and other concerned parties for appropriate action.
        </p>
        <p>
          <img src="/static/images/work/roadmob-page-1.jpg" width="100%">
        </p>


        <div class="spacer"></div>


        <h3 class="work-subheader">Join the mob</h3>

        <p>Published reports can be shared on Facebook and Twitter.
          Each report includes a forum to facilitate a conversation between commuters and concerned parties.
        </p>
        <p>
          <img src="/static/images/work/roadmob-page-2.jpg" width="100%">
        </p>

        <div class="spacer"></div>

        <h3 class="work-subheader">Drive policy and decision-making</h3>

        <p>Reports from proactive commuters are the key ingredients towards generating insights that can help authorities like LTFRB
          and MMDA develop new policies and impose the existing ones on violators.
        </p>
        <p>
          <img src="/static/images/work/roadmob-page-3.jpg" width="100%">
        </p>
      </div>



      </div>
    </div>

  </div>
</div>

{% endblock %}
