{% extends 'base.html' %}



{% block main %}
<div class="grid-container max-10000 grid-white">
  <div class="grid-container">

    <div class="fadeIn grid-60 prefix-20 tablet-grid-80 tablet-prefix-10 mobile-grid-100 padded-v-75">
      <div class="grid-100">
        <h1 class="emphasis ">Space Voyage</h1>

      </div>
      <div class="grid-100 padded-bottom-50">

        <p class="headline">Space Voyage is a space-themed online registration portal for UP CSI Applications 2014-2015.</p>
        <a target="_blank" href="//upcsi.herokuapp.com" class="btn">View Site</a>
      </div>

      <div class="grid-20 tablet-grid-20 mobile-grid-20 ">

        <p class="no-top-margin no-line-height meta work-sidebar-title">Team</p>
        <p class="meta">
        Andie Rabino<br>
        Neil Calabroso<br>
        Abigail Antonio<br>
        </p>
        <div class="spacer"></div>


        <p class="no-line-height no-top-margin meta work-sidebar-title">Tools</p>
        <p class="meta">
          Adobe Illustrator<br>
          Ruby on Rails<br>
          KnockoutJS<br>
          CSS3 Animations<br>
        </p>
      </div>
      <div class="grid-75 prefix-5 tablet-grid-75 tablet-prefix-5 mobile-grid-75 mobile-prefix-5">

        <h3 class="work-subheader">Coding and Beyond</h3>

        <p>Space Voyage seeks to encourage computer science students in the department to
        </p>
        <p>
          <img src="/static/images/work/resume-page-1.jpg" width="100%">
        </p>

        <div class="spacer"></div>

        <h3 class="work-subheader">Download your resume</h3>

        <p>A confirmation email with the pdf file of the generated resume is sent to the
          student upon submission.
        </p>
        <p>
          <img src="/static/images/work/resume-page-2.jpg" width="100%">
        </p>


      </div>



      </div>
    </div>

  </div>
</div>

{% endblock %}
