!!!
%html
  %head
    %title Hey Andie.
    %meta{:content => "width=device-width, initial-scale=1.0", :name=>"viewport"}
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Fjalla+One'
    = javascript_include_tag 'application'
    %body
      =render 'layouts/header'
      =yield
